header{
    height: 70px;
}

.mynav{
    padding-top: 20px;
    
}

a{
    color: white;
    text-decoration: none;
}

.mynav a{
    padding-right: 50px;
    margin-left: 50px;
}

h1{
    text-align: center;
    border-bottom: 4px solid yellow;
    height: 50px;
}